* {
    box-sizing: border-box;
    margin: 0px;
}

.bar {
    height: 3rem;
    background-color: #07518f;
    color: white;
}

.bar .button-nav.pull-left {
    color: white;
    font-size: 27px;
    font-weight: 900;
    margin-top: 0.2rem;
}

header h1.title {
    color: white;
    margin-top: 0.3rem;
    font-size: 23px;
    font-weight: 400;
}

.article {
    margin-top: 3rem;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 3rem);
    background: white;
}

.article-title {
    font-size: 27px;
    padding-top: 1rem;
    padding-bottom: 0.8rem;
}

.article-info {
    height: 3.5rem;
}

.article .avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    top: 0.2rem;
    position: relative;
    top: 0.5rem;
}

.author {
    font-size: 18px;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    width: 6rem;
    overflow: hidden;
    display: inline-block;
    height: 1.2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    top: 0.17rem;
}

.article .time {
    font-size: 16px;
    color: #9e9d9d;
}

.article-content {
    font-size: 20px;
    line-height: 35px;
    color: #888181;
}

.relative-part-name,
.comment-part-name {
    height: 3rem;
    padding: 0.5rem;
    background: #eeeeee;
    padding-top: 0.9rem;
    font-size: 18px;
    color: gray;
}

.relative-article {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.relative-article-firstimg {
    width: 4rem;
    height: 4rem;
    float: right;
    margin-left: 0.4rem;
}

.relative-article-title {
    height: 2rem;
    text-overflow: ellipsis;
    font-size: 20px;
    padding-bottom: 0.3rem;
    overflow: hidden;
    white-space: nowrap;
}

.relative-article-intro {
    height: 2rem;
    font-size: 14px;
    color: #9e9c9c;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.relative-article hr,
.comment-part hr {
    margin-top: 0.9rem;
    border: none;
    border-bottom: 1px solid #aaa0a0;
}

.comment-info {
    height: 3rem;
}

.comment-content {
    padding-left: 2.3rem;
    font-size: 14px;
    color: #9e9d9d;
}