* {
    box-sizing: border-box;
    margin: 0px;
}

.bar {
    height: 3rem;
    background-color: #07518f;
    color: white;
}

.bar .button-nav.pull-left {
    color: white;
    font-size: 27px;
    font-weight: 900;
    margin-top: 0.2rem;
}

header h1.title {
    color: white;
    margin-top: 0.3rem;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: 400;
}

.article {
    margin-top: 3rem;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 6rem);
    background: white;
    -webkit-overflow-scrolling: touch;
}

.article-title {
    font-size: 27px;
    padding-top: 1rem;
    padding-bottom: 0.8rem;
}

.article-info {
    height: 3.5rem;
}

.article .avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    top: 0.2rem;
    position: relative;
    top: 0.5rem;
}

.author {
    font-size: 18px;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    width: 6rem;
    overflow: hidden;
    display: inline-block;
    height: 1.2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    top: 0.17rem;
}

.article .time {
    font-size: 16px;
    color: #9e9d9d;
}

.article-content {
    font-size: 20px;
    line-height: 35px;
    color: #888181;
}
.article-content img{
    width: 100%;
}
.love {
    text-align: center;
    height: 3rem;
    padding-top: 1rem;
    border-top: 1px solid #cac4c4;
    margin-top: 2rem;
}

.love-img {
    width: 1.4rem;
    height: 1.2rem;
    background: url(/static/img/icon/love.png);
    background-size: 1.4rem 1.2rem;
    background-repeat: no-repeat;
    display: inline-block;
}

.love-img.checked {
    background: url(/static/img/icon/love-checked.png);
    background-size: 1.4rem 1.2rem;
    background-repeat: no-repeat;
}

.love-num {
    display: inline-block;
    left: 0.5rem;
    position: relative;
    top: -0.3rem;
}

.relative-part-name,
.comment-part-name {
    height: 3rem;
    padding: 0.5rem;
    background: #eeeeee;
    padding-top: 0.9rem;
    font-size: 18px;
    color: gray;
}

.relative-article {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.relative-article-firstimg {
    width: 4rem;
    height: 4rem;
    float: right;
    margin-left: 0.4rem;
}

.relative-article-title {
    height: 2rem;
    text-overflow: ellipsis;
    font-size: 20px;
    padding-bottom: 0.3rem;
    overflow: hidden;
    white-space: nowrap;
}

.relative-article-intro {
    /*height: 2rem;*/
    font-size: 14px;
    color: #9e9c9c;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.relative-article hr,
.comment-part hr {
    margin-top: 0.9rem;
    border: none;
    border-bottom: 1px solid #aaa0a0;
}

.comment-info {
    height: 3rem;
}

.comment-content {
    padding-left: 2.3rem;
    font-size: 14px;
    color: #9e9d9d;
}

.add-comment {
    height: 3rem;
    padding: 0.5rem;
}

#comment-input {
    height: 2rem;
    border: none;
    display: inline-block;

    padding-left: 0.6rem;
    width: calc(100% - 5.5rem);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom: 1px solid gray;
    background: transparent;
    font-size: 15px;
}

.all-comments {
    margin-left: 0.3rem;
    width: 1.2rem;
    height: 1.2rem;
    font-weight: 600;
    display: inline-block;
    background: url(/static/img/icon/comment.png);
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
    top: 0.5rem;
    position: relative;
}

.all-comments.checked {
    background: url(/static/img/icon/comment-checked.png);
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
}

.comment-number {
    color: #999999;
    width: 1.9rem;
    display: inline-block;
    text-align: center;

}

.comment-number.checked {
    color: red;
}

.sharebtn {
    background: url(/static/img/icon/share.png);
    width: 1rem;
    height: 1rem;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: 0.17rem;
    margin-left: 0.3rem;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 10;
}

.comment-form {
    position: absolute;
    width: 100%;
    bottom: 1.5rem;
    padding: 1rem;
}

.comment-form textarea {
    width: 100%;
    height: 6rem;
    border-radius: 0.5rem;
    border: none;
    overflow-y: auto;
    resize: none;
    padding: 0.3rem;
}

.submitComment {
    height: 1.5rem;
    width: 6rem;
    float: right;
    color: white;
    background: #72bb38;
    border: none;
    padding-top: 0.15rem;
}

.overlay.share {
    /*background-color: transparent;*/
}

.social-share {
    position: absolute;
    bottom: 0;
    height: 3rem;
    width: 100%;
    text-align: center;
    background: #fff;
}

.social-share .social-share-icon {
    margin: 10px;
}