* {
    box-sizing: border-box;
    margin: 0px;
    max-width: 100% !important;
}

::-webkit-input-placeholder {
    font-size: 14px;
    color: #afb1b3;
}

:-moz-placeholder {
    font-size: 14px;
    color: #afb1b3;
}

::-moz-placeholder {
    font-size: 14px;
    color: #afb1b3;
}

:-ms-input-placeholder {
    font-size: 14px;
    color: #afb1b3;
}

.icon-arrow-left {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0.75rem;
    z-index: 30;
}

.bar {
    height: 3rem;
    background-color: #07518f;
    color: white;
}

.bar .button-nav.pull-left {
    color: white;
    font-size: 27px;
    font-weight: 900;
    margin-top: 0.2rem;
}

header h1.title {
    color: white;
    margin-top: 0.3rem;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: 400;
}

.article {
    margin-top: 3rem;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 6rem);
    background: white;
    -webkit-overflow-scrolling: touch;
}

.article-title {
    font-size: 1.2rem;
    padding: .3rem 0;
}

.article-info {
    height: 2.5rem;
    margin: 0 .5rem;
    position: relative;
}

.article .avatar {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    position: relative;
}

.author {
    font-size: 18px;
    padding-left: 0.3rem;
    overflow: hidden;
    display: inline-block;
    height: 1.5rem;
    width: 5.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.5rem;
}

.article .time {
    font-size: 16px;
    color: #9e9d9d;
    display: inline-block;
    line-height: 1.5rem;
    height: 1.5rem;
    float: right;
}

.article-content {
    font-size: 20px;
    line-height: 35px;
    color: #888181;
}

.article-content img {
    width: 100% !important;
    max-height: 100%;
}

.love {
    text-align: center;
    height: 3rem;
    padding-top: 1rem;
    border-top: 1px solid #cac4c4;
    margin-top: 2rem;
}

.love-img {
    width: 1.4rem;
    height: 1.2rem;
    display: inline-block;
    color: #999999;
}

.love-img.checked {
    color: red;
}

.love-num {
    display: inline-block;
    left: 0.5rem;
    position: relative;
    top: -0.15rem;
}

.relative-part-name,
.comment-part-name {
    height: 3rem;
    padding: 0.9rem 0.5rem 0.5rem 0.5rem;
    background: #eeeeee;
    font-size: 18px;
    color: gray;
}

.relative-article {
    height: 4rem;
}

.relative-article-firstimg {
    width: 4rem;
    height: 4rem;
    float: right;
    margin-left: 0.4rem;
}

.relative-article-title {
    height: 2rem;
    text-overflow: ellipsis;
    font-size: 20px;
    padding-bottom: 0.3rem;
    overflow: hidden;
    white-space: nowrap;
}

.relative-article-intro {
    /*height: 2rem;*/
    font-size: 14px;
    color: #9e9c9c;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.relative-article hr,
.comment-part hr {
    margin-top: 0.9rem;
    border: none;
    border-bottom: 1px solid #aaa0a0;
}

.comment-info {
    height: 2rem;
}

.comment-content {
    padding-left: 2.3rem;
    font-size: 14px;
    color: #9e9d9d;
}

.add-comment {
    height: 3rem;
    padding: 0.5rem;
}

#comment-input {
    height: 2rem;
    border: none;
    display: inline-block;

    padding-left: 0.6rem;
    width: calc(100% - 5rem);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom: 1px solid gray;
    background: transparent;
    font-size: 15px;
}

.icon-pinglun {
    float: right;
    display: inline-block;
    position: relative;
    top: 0.1rem;
    margin-left: 0.3rem;
    font-weight: 600;
    color: #999999;
}

.checked {
    color: red;
}

.comment-tip .comment-number {
    background: red;
}

.comment-number {
    position: relative;
    top: .1rem;
    left: -0.5rem;
    z-index: 10;
    min-width: .8rem;
    height: .8rem;
    padding: 0 .2rem;
    margin-left: .1rem;
    font-size: .6rem;
    line-height: .8rem;
    color: #fff;
    vertical-align: top;
    background: #9a9898;
    border-radius: .5rem;
    text-align: center;
}

.icon-daochu {
    float: right;
    display: inline-block;
    position: relative;
    top: 0.17rem;
    color: #999999;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 10;
}

.comment-form {
    position: absolute;
    width: 100%;
    bottom: 1.5rem;
    padding: 1rem;
}

.comment-form textarea {
    width: 100%;
    height: 6rem;
    border-radius: 0.5rem;
    border: none;
    overflow-y: auto;
    resize: none;
    padding: 0.3rem;
}

.submitComment {
    height: 1.5rem;
    width: 6rem;
    float: right;
    color: white;
    background: #72bb38;
    border: none;
    padding-top: 0.15rem;
}

.overlay.share {
    /*background-color: transparent;*/
}

.social-share {
    position: absolute;
    bottom: 0;
    height: 3rem;
    width: 100%;
    text-align: center;
    background: #fff;
}

.social-share .social-share-icon {
    margin: 10px;
}