* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background: white;
}

.search-container {
    top: 0px;
    height: 3rem;
    background-color: #07518f;
    display: flex;
    flex-direction: row;
    border: none;
}

::-webkit-input-placeholder {
    font-size: 12.5px;
    color: #afb1b3;
}

:-moz-placeholder {
    font-size: 12.5px;
    color: #afb1b3;
}

::-moz-placeholder {
    font-size: 12.5px;
    color: #afb1b3;
}

:-ms-input-placeholder {
    font-size: 12.5px;
    color: #afb1b3;
}

.logo img {
    width: 4.5rem;
    margin-top: .9rem;
    margin-right: 0.4rem;
}

.bar .searchbar {
    margin: 0px;
    margin-top: 0.8rem;
    width: calc(100% - 5rem);
    padding: 0px;
    background: transparent;
}

.bar:after {
    background-color: transparent;
}

.bar .searchbar .searchbar-cancel {
    color: white;
    margin-top: 0.3rem;
}

.bar .searchbar .search-input input {
    height: 1.5rem;
}

.search-input .icon {
    direction: rtl;
    color: green;
    right: .3rem;

}

.button-container {
    height: 6rem;
    width: 100%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    background: url(/static/img/buttonsbackground.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.margintop {
    margin-top: 0.6rem;
}

.marginbottom {
    margin-bottom: 0.5rem;
}

.button-container .button-row {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button {
    width: 40%;
    height: 1.6rem;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 0.18rem;
    color: white;
    border: none;
}

.daily {
    background: #ffa21f;
}

.score {
    background: #ff7043;
}

.group {
    background: #4fc3f7;
}

.feed {
    background: #72bb38;
}

.active .tab-label {
    color: #72bb38;
}

.icon {
    display: inline-block;
}

.iconindex {
    width: 1.2rem;
    height: 1.2rem;
    background: url(/static/img/icon/tab-home.png);
    background-size: 1.2rem 1.2rem;
    background-repeat: no-repeat;
}

.active .iconindex {
    background: url(/static/img/icon/tab-home-clicked.png);
    background-size: 1.2rem 1.2rem;
    background-repeat: no-repeat;
}

.icondiscover {
    width: 1.2rem;
    height: 1.2rem;
    background: url(/static/img/icon/tab-discovery.png);
    background-size: 1.2rem 1.2rem;
    background-repeat: no-repeat;
}

.active .icondiscover {
    background: url(/static/img/icon/tab-discovery-clicked.png);
    background-size: 1.2rem 1.2rem;
    background-repeat: no-repeat;
}

.icondiscover {
    width: 1.2rem;
    height: 1.2rem;
    background: url(/static/img/icon/tab-discovery.png);
    background-size: 1.2rem 1.2rem;
    background-repeat: no-repeat;
}

.active .icondiscover {
    background: url(/static/img/icon/tab-discovery-clicked.png);
    background-size: 1.2rem 1.2rem;
    background-repeat: no-repeat;
}

.icongroup {
    width: 1.2rem;
    height: 1.2rem;
    background: url(/static/img/icon/tab-group.png);
    background-size: 1.2rem 1.2rem;
    background-repeat: no-repeat;
}

.active .icongroup {
    background: url(/static/img/icon/tab-group-clicked.png);
    background-size: 1.2rem 1.2rem;
    background-repeat: no-repeat;
}

.iconme {
    width: 1.2rem;
    height: 1.2rem;
    background: url(/static/img/icon/tab-user.png);
    background-size: 1.2rem 1.2rem;
    background-repeat: no-repeat;
}

.active .iconme {
    background: url(/static/img/icon/tab-user-clicked.png);
    background-size: 1.2rem 1.2rem;
    background-repeat: no-repeat;
}

.bar-header-secondary ~ .content {
    top: 8rem;
}

.article {
    width: 100%;
    height: calc(100% - 11.5rem);
    background: white;
    /*border: 1px solid;*/
    /*overflow-y: auto;*/
    position: static;
}

.article-item {
    height: 8rem;
    /*border: 1px solid;*/
}

.article-item hr {
    margin-top: 0.8rem;
    border: none;
    border-bottom: 1px solid #bab5b5;
}

.article-firstimg {
    width: 5rem;
    height: 5rem;
    float: right;
    margin-left: 0.4rem;
}

.article-title {
    font-size: 17px;
    font-weight: 400;
    height: 2.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.3rem;
}

.article-intro {
    font-size: 14px;
    color: #a8a7a7;
    height: 2.27rem;
    line-height: 1.3rem;
    margin-top: 0.23rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.article-info {
    font-size: 13px;
    color: #a8a7a7;
    margin-top: 0.6rem;
}

.article-category {
    float: right;
}

.infinite-scroll-preloader {
    margin-top: -20px;
}

.bar .button-nav.pull-left {
    color: white;
    font-size: 27px;
    font-weight: 900;
    margin-top: 0.2rem;
    margin-left: 0px;
}

.bar.bar-nav {

    height: 3rem;
    background-color: #07518f;
    color: white;
}

.search-warper {
    display: inline-block;
    width: calc(100% - 5rem);
    margin-left: 1rem;
    margin-top: 0.75rem;
}

#search-text {
    width: calc(100% - 0.5rem);
    padding-left: 0.5rem;
    margin:0;
    font-size: 14px;
    border: none;
    border-radius: 0.2rem;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    -webkit-appearance: none;

}

label.pull-left {
    color: green;
    top: 0.5rem;
    left: -1.4rem;
}

.location {
    display: inline-block;
    width: 0.7rem;
    height: 1.3rem;
    background: url(/static/img/icon/nearby.png);
    background-size: 0.7rem 1.3rem;
    margin-top: 0.9rem;
    background-repeat: no-repeat;
}

.search-content {
    margin-top: 3rem;
    height: calc(100% - 3rem);
}

.buttons-tab {
    background-color: #eeeeee;
    border: none;
}

.buttons-tab .button {
    height: 2.6rem;
}

.buttons-tab .button.active {
    color: #07518f;
    border-color: #72bb38;
    border-width: 3px;
}

.content-tab {
    background-color: #fff;
    width: 100%;
    height: calc(100% - 2.6rem);
    /*margin-top: -1rem;*/
}

.tabs,
.tab {
    height: 100%;
}

.sr-container {
    display: block;

    padding: 1rem;
    height: 6rem;
}

.sr-img {
    width: 4rem;
    height: 4rem;
    float: left;

}

.sr-info {
    width: 100%;
    height: 100%;
    padding-left: 5rem;

}

.sr-title {
    overflow: hidden;
    height: 1.25rem;
    margin-top: .2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
    color: #565252;
}

.sr-star {
    margin-top: .4rem;
}

.hr {
    height: 1px;
    border-top: 1px solid #eee;
}
