* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background: white;
}

.icon-arrow-left {
    display: inline-block;
    width: 0.9rem;
    height: 1.4rem;
    margin-top: 0.8rem;
}

.search-container {
    top: 0px;
    height: 3rem;
    background-color: #07518f;
    display: flex;
    flex-direction: row;
    border: none;
}

::-webkit-input-placeholder {
    font-size: 12.5px;
    color: #afb1b3;
}

:-moz-placeholder {
    font-size: 12.5px;
    color: #afb1b3;
}

::-moz-placeholder {
    font-size: 12.5px;
    color: #afb1b3;
}

:-ms-input-placeholder {
    font-size: 12.5px;
    color: #afb1b3;
}

.logo img {
    width: 4.5rem;
    margin-top: .9rem;
    margin-right: 0.4rem;
}

.bar .searchbar {
    margin: 0px;
    margin-top: 0.8rem;
    width: calc(100% - 5rem);
    padding: 0px;
    background: transparent;
}

.searchbar.inner {
    width: calc(100% - 3.6rem);
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}

.bar:after {
    background-color: transparent;
}

.bar .searchbar .searchbar-cancel {
    color: white;
    margin-top: 0.1rem;
    font-size: 14px;
    font-weight: 300;
}

.bar .searchbar .search-input input {
    height: 1.5rem;
    padding-left: 5px;
    padding-right: 5px;
}

.search-icon {
    width: 1rem;
    height: 1rem;
    position: absolute;
    right: 0.1rem;
    top: 0.2rem;
}

.button-container {
    height: 6rem;
    width: 100%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    background: url(/static/img/buttonsbackground.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.margintop {
    margin-top: 0.6rem;
}

.marginbottom {
    margin-bottom: 0.5rem;
}

.button-container .button-row {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button {
    width: 40%;
    height: 1.6rem;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 0.18rem;
    color: white;
    border: none;
}

.daily {
    background: #ffa21f;
}

.score {
    background: #ff7043;
}

.group {
    background: #4fc3f7;
}

.feed {
    background: #72bb38;
}

.active .tab-label {
    color: #72bb38;
}

.icon {
    display: inline-block;
}

.icon-shouye {
    color: #999999;
}

.active .iconfont {
    color: #72bb38;
}

.bar-header-secondary ~ .content {
    top: 8rem;
}

.article {
    width: 100%;
    height: calc(100% - 2.5rem);
    background: white;
    position: static;
}

.article-item {
    height: 8rem;
    /*border: 1px solid;*/
}

.article-item hr {
    margin-top: 0.8rem;
    border: none;
    border-bottom: 1px solid #bab5b5;
}

.article-firstimg {
    width: 5rem;
    height: 5rem;
    float: right;
    margin-left: 0.4rem;
}

.article-title {
    font-size: 17px;
    font-weight: 400;
    height: 2.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.3rem;
}

.article-intro {
    font-size: 14px;
    color: #a8a7a7;
    height: 2.27rem;
    line-height: 1.3rem;
    margin-top: 0.23rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.article-info {
    font-size: 13px;
    color: #a8a7a7;
    margin-top: 0.6rem;
}

.article-category {
    float: right;
}

.infinite-scroll-preloader {
}

.bar .button-nav.pull-left {
    color: white;
    font-size: 27px;
    font-weight: 900;
    margin-top: 0.2rem;
    margin-left: 0px;
}

.bar.bar-nav {

    height: 3rem;
    background-color: #07518f;
    color: white;
}

label.pull-left {
    color: green;
    top: 0.5rem;
    left: -1.4rem;
}

.location {
    display: inline-block;
    width: 0.7rem;
    height: 1.3rem;
    margin-top: 0.75rem;
    color: #fff;

}

.search-content {
    margin-top: 3rem;
    height: calc(100% - 3rem);
}

.buttons-tab {
    background-color: #eeeeee;
    border: none;
    overflow: auto;
}

.buttons-tab .button {
    height: 2.6rem;
    bottom: 0;
}

.buttons-tab .button.active {
    color: #07518f;
    border-bottom: none;
    border-top: 2px solid #72bb38;
    border-right-color: #d4cbcb;
    border-top-width: 3px;
    background: #fff;
}

.content-tab {
    background-color: #fff;
    width: 100%;
    height: calc(100% - 2.6rem);
}

.tab-link.button {
    margin-left: 0;
    margin-right: 0;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    border-right: 1px solid #d4cbcb;

}

.tabs,
.tab {
    height: 100%;
}

.sr-container {

    display: block;
    padding: 0.8rem;
    height: 4.6rem;
}

.sr-img {
    width: 3rem;
    height: 3rem;
    float: left;

}

.sr-info {
    width: 100%;
    height: 100%;
    padding-left: 4.3rem;

}

.sr-title {
    overflow: hidden;
    height: 1.25rem;
    margin-top: .2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    color: #565252;
}

.sr-star {
    margin-top: .4rem;
}

.sr-star img {
    width: 10px;
}

.hr {
    height: 1px;
    border-top: 1px solid #d4d4d4;
}
