* {
    box-sizing: border-box;
    margin: 0px;
}

.icon-arrow-left {
    display: inline-block;
    width: 0.9rem;
    height: 1.4rem;
    position: absolute;
    top: 0.75rem;
    z-index: 30;
}

header h1.title {
    color: white;
    margin-top: 0.3rem;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: 300;
}

.bar {
    height: 3rem;
    background-color: #07518f;
    color: white;
    border: none;
}

.bar .button-nav.pull-left {
    color: white;
    font-size: 27px;
    font-weight: 900;
    margin-top: 0.2rem;
}

.rank-bg {
    height: 9rem;
    width: 100%;
    background: url(/static/img/ranking-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 9rem;

}

.rank-content {
    height: 100%;
    position: relative;
    margin-top: 3rem;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.rank-top {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 5.8rem;
    left: 1rem;
    padding-top: 1rem;
    width: calc(100% - 2rem);
    height: 8rem;
    background: #fff;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;

}

.non-first {
    width: 32%;
    text-align: center;
}

.top-first {
    position: relative;
    top: -1rem;

    width: 36%;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    text-align: center;
    background: #fff;

}

.top-shadow {
    padding-top: 1rem;
    text-align: center;
    box-shadow: 0px -2px 2px #b7b2b2;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}

.top-num {
    position: relative;
    display: inline-block;
    top: -4.9rem;
    left: 1.35rem;
    padding-top: 0.1rem;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 0.5rem;
    background: #65a731;
    font-size: 13px;
    color: white;
}

.top-first .top-num {
    background: #ff9000;
    left: 1.6rem;
}

.top-avatar {
    width: 3rem;
    height: 3rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    border-radius: 1.5rem;
}

.top-first .top-avatar {
    width: 4rem;
    height: 4rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    border-radius: 2rem;
}

.top-name {
    display: inline-block;
    width: 80%;
    margin-top: 0.4rem;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
}

.top-result {
    color: #ff9000;
}

.top-first .top-result {
    color: red;
    font-size: 20px;
}

.crown {
    position: absolute;
    top: -0.2rem;
    color: #ff9000;
    transform: rotate(42deg);
    -ms-transform: rotate(42deg);
    -moz-transform: rotate(42deg);
    -webkit-transform: rotate(42deg);
    -o-transform: rotate(42deg);
}

.picker-header {
    background: white;
    height: 1.5rem;
}

.picker-container {
    display: block;
    background: white;
    /*width: calc(100% - 0.6rem);*/
    text-align: center;
    /*border-radius: 1rem;*/
    border: none;
    height: 7.5rem;
    /*margin-left: 0.3rem;*/
    /*margin-top: 0.6rem;*/
}

.picker-mask {
    display: inline-block;
    width: 7rem;
    height: 1.6rem;
    margin-top: 5.2rem;
    border-radius: 1rem;
    text-align: center;
    background: #eeeeee;
}

#picker {
    position: relative;
    z-index: 3;
    height: 100%;
    width: 100%;

    border: none;
    font-size: 17px;
    text-align: center;
    background: transparent;

}

.icon-arrow-bottom {

    display: inline-block;
    position: relative;
    z-index: 0;
    top: -1.4rem;
    right: -2.5rem;
    width: 0.7rem;
    height: 0.4rem;
    color: #847f7f;
}

.button-link {
    border: none;
    margin-top: 0.2rem;
    font-size: 20px;
}

.icon-jiangbei {
    color: #fba609;

}

.icon-wode {
    color: #1a8ae6;
    position: relative;
    top: 0.05rem;

}

.icon-wode:before {
    font-size: 21px;
}

.icon-xihuan {
    color: #f10a0a;
    font-size: 20px;
}

.rank-detail {
    margin-top: 0.15rem;
}

.rank-detail-title {
    display: flex;
    flex-direction: row;
    height: 2rem;
    align-items: center;
}

.rank {
    height: 1rem;
    padding-left: 0.3rem;
}

.rank.num {
    width: 11%;
    padding-left: 0;
}

.rank.user {
    width: 60%;
}

.rank.result {
    width: 29%;
}

.rank-detail-title img {
    width: 1rem;
    margin-left: 0.2rem;
}

.rank-detail-item {
    display: flex;
    flex-direction: row;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    margin-bottom: 0.15rem;
    height: 3.5rem;
    align-items: center;
    background: #fff;
}

.rank.num.info,
.rank.user.info,
.rank.result.info {
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    color: #403b3b;
}

.rank.num.info span {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    padding-top: 0.05rem;
    border-radius: 0.5rem;
    color: white;
    text-align: center;
    background: #c5c2c2;
    font-size: 9px;
}

.rank.user.info .name {
    margin-left: 0.7rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.avatar {
    width: 2rem;
    height: 2rem;
}

.rank.result.info {
    padding-left: 0.5rem;
}