* {
    box-sizing: border-box;
    margin: 0px;
}

header h1.title {
    color: white;
    margin-top: 0.3rem;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: 300;
}

.bar {
    height: 3rem;
    background-color: #07518f;
    color: white;
    border: none;
}

.bar .button-nav.pull-left {
    color: white;
    font-size: 27px;
    font-weight: 900;
    margin-top: 0.2rem;
}

.rang-bg {
    height: 7rem;
    width: 100%;
    background: url(/static/img/ranking-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 7rem;
    ;
}

.rank-content {
    height: 100%;
    margin-top: 3rem;
}