<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢乐冶</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/static/light7/css/light7.min.css">
    <link rel="stylesheet" href="/static/light7/css/light7-swiper.min.css">
    <link rel="stylesheet" href="/static/css/scorerank.css">


</head>

<body>
    <div class="page-group">
        <div class="page page-current">
            <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left back" href="javascript:history.back()">
                    <span class="icon icon-left"></span>
                </a>
                <h1 class='title'>成就排名</h1>
            </header>
            <div class="rank-content">
                <div class="rang-bg"></div>
                <select>
					<option value ="volvo">Volvo</option>
					<option value ="saab">Saab</option>
					<option value="opel">Opel</option>
					<option value="audi">Audi</option>
				</select>

            </div>




        </div>
    </div>


    <script type="text/javascript" src="/static/vue/vue.js"></script>
    <script type='text/javascript' src='/static/js/jquery.js' charset='utf-8'></script>
    <script type='text/javascript' src='/static/light7/js/light7.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='/static/light7/js/light7-swiper.min.js' charset='utf-8'></script>
    <script>
        $.init();
    </script>

</body>

</html>