<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢乐冶</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/static/light7/css/light7.min.css">
    <link rel="stylesheet" href="/static/light7/css/light7-swiper.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/iconfont/iconfont.css">
    <style>
        .icon-sousuo {
            line-height: 2.8rem;
            right: 1rem;
            font-size: 1rem;
            color: #efefef;
        }
    </style>
</head>

<body>
<div class="page-group">
    <div class="page page-current" id="index-page">
        <div class="bar bar-header-secondary search-container">
            <div class="logo"><img src="/static/img/icon/logo.png"></div>
            <!--  search bar
            <div class="searchbar">
                <a class="searchbar-cancel">取消</a>
                <div class="search-input" onclick="window.location.href='/search'">
                    <form action="">
                        <label class="search-icon iconfont icon-sousuo active "></label>
                        <input type="search" id='search' class="search" placeholder='过山车  黑暗骑士  show  小组'/>
                    </form>

                </div>
            </div>-->
            <a class="search-icon iconfont icon-sousuo active " onclick="window.location.href='/search'"></a>
        </div>


        <div class="article content infinite-scroll infinite-scroll-bottom" data-distance="5">
            <div class="button-container">
                <div class="button-row margintop">
                    <a href="#" class="button daily">每日一车</a>
                    <a href="#" class="button score external">成就排名</a>
                </div>
                <div class="button-row marginbottom">
                    <a href="/group" class="button group external">我的小组</a>

                    <a href="/user/feedback" class="button feed external">意见反馈</a>
                </div>

            </div>
            <div class="article-list" id="article-list">
                <template v-for="item, index in articles">
                    <div :class="'article-item ' + item.readClass" :data-index="index" :data-articleid="item.id">
                        <!-- getClass(item.id, greyList) -->
                        <div class="article-content padded">
                            <img :src="'/static/img'+item.poster " class="article-firstimg ">
                            <div class="article-title ">{$ escape(item.title) $}</div>
                            <div class="article-intro ">{$ escape(item.description) $}</div>
                        </div>
                        <div class="article-info padded">
                            <span class="article-author ">作者：{$ item.authorName || item.col $}</span>
                            <span class="article-category ">来自：{$ item.col $}</span>
                        </div>

                    </div>
                    <hr>
                </template>


            </div>
            <div class="infinite-scroll-preloader ">
                <div class="preloader "></div>
            </div>
        </div>


    </div>


    <nav class="bar bar-tab ">
        <a class="tab-item active external" href="/index">
            <span class="icon iconfont icon-shouye left-negtivedot2"></span>
            <span class="tab-label ">首页</span>
        </a>
        <a class="tab-item external" href="/discovery">
            <span class="icon iconfont icon-yikeapp15 left-negtivedot2"></span>
            <span class="tab-label ">发现</span>
        </a>
        <a class="tab-item external" href="/group">
            <span class="icon iconfont icon-xiaozufill left-negtivedot2 "></span>
            <span class="tab-label ">小组</span>
        </a>
        <a class="tab-item external" href="/user">
            <span class="icon iconfont icon-wode left-negtivedot2"></span>
            <span class="tab-label ">我的</span>
        </a>
    </nav>
</div>
<script type='text/javascript' src='/static/js/jquery.min.js' charset='utf-8'></script>
<script type="text/javascript" src="/static/vue/vue.min.js"></script>
<script src="/static/js/raty/jquery.raty.js"></script>
<script type='text/javascript' src='/static/light7/js/light7.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/static/light7/js/light7-swiper.min.js' charset='utf-8'></script>

<script type="text/javascript ">
    $.init();
    $.fn.raty.defaults.path = '/static/js/raty/img';
    var readList = (window.localStorage.getItem('readList') || '').split(',')
    var $vm = new Vue({
        delimiters: ['{$', '$}'],
        el: '#article-list',
        data: {
            currentPage: '',
            articles: [],
            greyList: [],
        },
        methods: {
            escape: function (str) {
                return str.replace(/&amp;/g, '&').replace(/&quot;/g, '"').replace(/&apos;/g, "'")
            },

        }
    })
    var articleLoading = false;
    var perPageItems = 10;

    getSomeArticles(perPageItems, true);


    $(document).on('infinite', '.article', function () {
        if (articleLoading) return;
        articleLoading = true;
        getSomeArticles(perPageItems, false);
    });

    $(document).on('click', '.article-item', function (e) {
        var articleid = e.currentTarget.getAttribute('data-articleid');
        var index = e.currentTarget.getAttribute('data-index');

        $vm.articles[index].readClass = "readed"
        e.currentTarget.setAttribute('class', 'article-item readed');

        window.location.href = "/article/detail?articleid=" + articleid;
    });
    $('.sr-star').raty({
        number: 5,
        score: 2,
    });
    $('.search').keypress(function (e) {
        var searchContent;

        if (e.keyCode === 13) {
            if (e.target.id == 'search') {
                $('#index-page').removeClass('page-current');
                $('#search-page').addClass('page-current');
                searchContent = $('#search').val();
            } else {
                searchContent = $('#search-inner').val();
            }
            return false;
        }
    });

    $('.daily, .score').on('click', function (e) {
        e.preventDefault();
        $.toast('功能尚未上线，请期待~')
    })


    function getSomeArticles(number, firstFlag, articleList) {
        if (firstFlag == true) {
            $vm.currentPage = 1;
        } else {
            $vm.currentPage = $vm.currentPage + 1;
        }
        $.ajax({
            url: '/article/refresharticles',
            method: 'GET',
            data: {
                currentPage: $vm.currentPage,
                perPageNums: number,
                articleList: articleList
            },
            success: function (data) {
                if (data.errno == 0) {
                    // $vm.greyList = data.data.greyList;
                    for (var item of data.data.data) {
                        if (readList.indexOf(String(item.id)) >= 0) {
                            item.readClass += ' readed'
                        }
                        $vm.articles.push(item);
                    }
                    articleLoading = false;
                    if (data.data.currentPage == data.data.totalPages || data.data.totalPages == 0) {
                        $.detachInfiniteScroll($('.infinite-scroll'));
                        $('.infinite-scroll-preloader').remove();
                    }
                }
                return;
            }
        })
    }

</script>
</body>

</html>
