<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢乐冶</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="/static/light7/css/light7.min.css">
    <link rel="stylesheet" href="/static/light7/css/light7-swiper.min.css">
    <link rel="stylesheet" href="/static/css/index.css">


</head>

<body>
    <div class="page-group">
        <div class="page page-current">
            <div class="bar bar-header-secondary search-container">
                <div class="logo"><img src="/static/img/icon/logo.png"></div>
                <div class="searchbar">
                    <a class="searchbar-cancel">取消</a>
                    <div class="search-input">

                        <input type="search" id='search' placeholder='过山车  黑暗骑士  show  小组' />
                        <label class="icon icon-search" for="search"></label>
                    </div>
                </div>
            </div>
            <div class="button-container">
                <div class="button-row margintop">
                    <a href="#" class="button daily">每日一车</a>
                    <a href="/score" class="button score external">成就排名</a>
                </div>
                <div class="button-row marginbottom">
                    <a href="#" class="button group">我的小组</a>
                    <a href="#" class="button feed">意见反馈</a>
                </div>

            </div>

            <div class="article content infinite-scroll infinite-scroll-bottom" data-distance="5">
                <div class="article-list" id="article-list">
                    <template v-for="item in articles">
                    <div class="article-item content-padded" v-bind:data-articleid="item.id" >
                        <div class="article-content" >
                            <img :src="item.poster " class="article-firstimg ">
                            <div class="article-title ">{$ item.title $}</div>
                            <div class="article-intro ">{$ item.description $}</div>
                        </div>
                        <div class="article-info ">
                            <span class="article-author ">作者：{$ item.authorName $}</span>
                            <span class="article-category ">来自：{$ item.col $}</span>
                        </div>
                        <hr>

                    </div>
                    </template>


                </div>
                <div class="infinite-scroll-preloader ">
                    <div class="preloader "></div>
                </div>
            </div>


            <nav class="bar bar-tab ">
                <a class="tab-item active " href="# ">
                    <span class="icon iconindex "></span>
                    <span class="tab-label ">首页</span>
                </a>
                <a class="tab-item " href="# ">
                    <span class="icon icondiscover "></span>
                    <span class="tab-label ">发现</span>

                </a>
                <a class="tab-item " href="# ">
                    <span class="icon icongroup "></span>
                    <span class="tab-label ">小组</span>
                </a>
                <a class="tab-item " href="# ">
                    <span class="icon iconme "></span>
                    <span class="tab-label ">我的</span>
                </a>

            </nav>


        </div>
    </div>
    <script type="text/javascript" src="/static/vue/vue.js"></script>
    <script type='text/javascript' src='/static/js/jquery.js' charset='utf-8'></script>
    <script type='text/javascript' src='/static/light7/js/light7.js' charset='utf-8'></script>
    <script type='text/javascript' src='/static/light7/js/light7-swiper.min.js' charset='utf-8'></script>

    <script type="text/javascript ">
        $.init();

        var $vm = new Vue({
            delimiters: ['{$', '$}'],
            el: '#article-list',
            data: {
                currentPage: '',
                articles: [],
            }

        })
        let articleLoading = false;
        let perPageItems = 5;

        getSomeArticles(perPageItems, true);




        $(document).on('infinite', '.article', function() {
            if (articleLoading) return;
            articleLoading = true;
            getSomeArticles(perPageItems, false);
        });
        $(document).on('click', '.article-item', (e) => {
            let articleid = e.currentTarget.getAttribute('data-articleid');

            window.location.href = "/article/detail?articleid=" + articleid;
        })


        function getSomeArticles(number, firstFlag) {
            if (firstFlag == true) {
                $vm.currentPage = 1;
            } else {
                $vm.currentPage = $vm.currentPage + 1;
            }
            $.ajax({
                url: '/article/refresharticles',
                method: 'GET',
                data: {
                    currentPage: $vm.currentPage,
                    perPageNums: number,
                },
                success: function(data) {
                    if (data.errno == 0) {
                        for (let item of data.data.data) {
                            $vm.articles.push(item);
                        }
                        if (data.data.currentPage == data.data.totalPages) {
                            $.detachInfiniteScroll($('.infinite-scroll'));
                            $('.infinite-scroll-preloader').remove();
                        }
                    }
                    return;
                }



            })
        }
    </script>
</body>

</html>