<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢乐冶</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/static/light7/css/light7.min.css">
    <link rel="stylesheet" href="/static/light7/css/light7-swiper.min.css">
    <link rel="stylesheet" href="/static/css/comments.css">
</head>

<body>
    <div class="page-group">
        <div class="page page-current">
            <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left back" href="javascript:history.back()">
                    <span class="icon icon-left"></span>
                </a>
                <h1 class='title'>所有评论</h1>
            </header>
            <div class="comments" id="comments">
                <!--<template>-->
                <div class="comment-item content-padded">
                    <div class="comment-info">
                        <img src="/static/img/article-img.jpg" class="comment avatar">
                        <span class="author">黑暗骑士黑暗骑士</span>
                        <span class="time">2017-5-21 17:00</span>

                    </div>
                    <div class="comment-content">
                        纯CSS是很不容易做到的。我收藏过一个相当何弃疗的办法，我相信你不想这么做。 老老实实的用js吧 :)
                        <hr>
                    </div>

                </div>
                <!--</template>-->
            </div>


        </div>
    </div>


    <script type="text/javascript" src="/static/vue/vue.js"></script>
    <script type='text/javascript' src='/static/js/jquery.js' charset='utf-8'></script>
    <script type='text/javascript' src='/static/light7/js/light7.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='/static/light7/js/light7-swiper.min.js' charset='utf-8'></script>
    <script>
        $.init();
        let $vm = new Vue({
            el:'#comments',
            delimiters:["{$","$}"],
            data:{
                comments:{}
            }
        });
        $.ajax({
            url: '/comment/getcommentbyarticleid'
        })
    </script>

</body>

</html>
