<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢乐冶</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" href="/static/css/articleDetail.css">

</head>

<body>
    <div class="page-group">
        <div class="page page-current">
            <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left back" href="/index">
                    <span class="icon icon-left"></span>
                </a>
                <h1 class='title'>文章</h1>
            </header>
            <div class="article">
                <div class="article-title content-padded">上海迪士尼首发：最快过山车“极速光轮”体验</div>
                <div class="article-info content-padded">
                    <img class="avatar" src="/static/img/avatar.jpg">
                    <span class="author">小茗同学小茗同学小茗同学小茗同学小茗同学</span>
                    <span class="time">2017-6-12 15:45</span>
                </div>
                <div class="article-content content-padded">
                    “迈克·马库拉从来就没想过要当苹果公司的总裁。他喜欢设计自己的新房子，驾驶自己的私人飞机，靠股票期权过着豪华的生活；他并不喜欢裁决纠纷，也不喜欢领导一群很难伺候的自我主义者。他之前被迫赶走了迈克·斯科特，然后很不情愿地当上了总裁，他答应过妻子，这份差事只是暂时的。到1982年底，马库拉已经在这个职位上干了差不多两年，妻子给他下了最后通牒：马上寻找接班人。” “迈克·马库拉从来就没想过要当苹果公司的总裁。他喜欢设计自己的新房子，驾驶自己的私人飞机，靠股票期权过着豪华的生活；他并不喜欢裁决纠纷，也不喜欢领导一群很难伺候的自我主义者。他之前被迫赶走了迈克·斯科特，然后很不情愿地当上了总裁，他答应过妻子，这份差事只是暂时的。到1982年底，马库拉已经在这个职位上干了差不多两年，妻子给他
                </div>
                <div class="relative-part ">
                    <div class="relative-part-name">相关文章</div>
                    <div class="relative-article content-padded">
                        <img src="/static/img/article-img.jpg" class="relative-article-firstimg">
                        <div class="relative-article-title">重庆一游乐场为留守儿童提供免费娱乐设施</div>
                        <div class="relative-article-intro">图为留守儿童正在游乐场玩耍。杨小勇摄 图为留守儿童正在愉快地玩耍</div>
                        <hr>
                    </div>

                </div>
                <div class="comment-part">
                    <div class="comment-part-name">评论</div>
                    <div class="comment content-padded">
                        <div class="comment-info">
                            <img src="/static/img/article-img.jpg" class="comment avatar">
                            <span class="author">黑暗骑士黑暗骑士</span>
                            <span class="time">2017-5-21 17:00</span>

                        </div>
                        <div class="comment-content">
                            纯CSS是很不容易做到的。我收藏过一个相当何弃疗的办法，我相信你不想这么做。 老老实实的用js吧 :)
                            <hr>
                        </div>

                    </div>
                </div>
            </div>
            <div class="add-comment">
                <input type="text" placeholder="写评论" id="comment-input">
                <a href="" class="all-comments  icon icon-message"></a>
                <span class="comment-number">4889</span>
                <a href="" class="share"></a>

            </div>
            <div class="overlay" id="overlay">
                <div class="comment-form">
                    <form action="">
                        <textarea type="text"></textarea>
                        <p><a href="#" class="button submitComment">发表评论</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
    <script>
        $(document).on('focus', '#comment-input', () => {
            $('.overlay').css({
                display: 'block',
            })
            $('.article').css({
                'overflow-y': 'hidden',
            })
        })
        $(document).on('click', '.overlay', (event) => {
            if (event.target.id === 'overlay') {
                $('.overlay').css({
                    display: 'none',
                })
                $('.article').css({
                    'overflow-y': 'auto',
                })
            }



        });
    </script>
</body>

</html>