<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢乐冶</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/static/light7/css/light7.min.css">
    <link rel="stylesheet" href="/static/light7/css/light7-swiper.min.css">
    <link rel="stylesheet" href="/static/css/articleDetail.css">
    <link rel="stylesheet" href="/static/share/css/share.min.css">
    <link rel="stylesheet" href="/static/iconfont/iconfont.css">

</head>

<body>
<div class="page-group">
    <div class="page page-current">
        <header class="bar bar-nav">
            <a class=" iconfont icon-arrow-left back" href="javascript:window.history.go(-1)">
            </a>
            <h1 class='title'>文章</h1>
        </header>
        <div class="article" id="article">
            <template>
                <div class="article-title content-padded">{$ article.title $}</div>
                <div class="article-info content-padded">
                    <img class="avatar" :src="'/static/img'+article.authorAvatar">

                    <span class="author">{$ article.authorName || article.col $}</span>

                    <span class="time">{$ article.updateTime $}</span>
                </div>
                <div class="article-content content-padded" id="article-content"></div>

                <div class="love ">
                    <span v-if="likestatus" class="love-img iconfont icon-xihuan checked" id="love-img"></span>
                    <span v-else class="love-img iconfont icon-xihuan" id="love-img"></span><span
                        class="love-num"> {$ article.likes $}</span>
                </div>

                <div v-if="relativeArticles.length>0" class="relative-part ">
                    <div class="relative-part-name">相关文章</div>
                    <div v-for="item in relativeArticles">
                        <div class="relative-article content-padded" :data-articleid="item.id">
                            <img :src="'/static/img'+item.poster" class="relative-article-firstimg">
                            <div class="relative-article-title">{$ item.title $}</div>
                            <div class="relative-article-intro">{$ item.description $}</div>
                            <hr>
                        </div>
                    </div>

                </div>
                <div v-if="comment.length>0" class="comment-part">
                    <div class="comment-part-name">评论</div>

                    <div class="comment content-padded" v-for="item in comment">
                        <div class="comment-info">
                            <img :src=item.authorAvatar class="comment avatar">
                            <span class="author">{$ item.authorName $}</span>
                            <span class="time">{$ getTime(item.timestamp)$}</span>

                        </div>
                        <div class="comment-content">
                            {$ item.content $}
                            <hr>
                        </div>

                    </div>

                </div>
            </template>
        </div>

        <div class="add-comment" id="commentinfo">
            <template>
                <input type="text" placeholder="写评论" id="comment-input">
                <a href="#" class=" iconfont icon-daochu" id="sharebtn"></a>
                <div v-if="commentNum > 0" class=" iconfont icon-pinglun comment-tip">
                    <span v-if="commentNum >= 1000" class=" comment-number ">999+</span>
                    <span v-else-if="commentNum > 0" class=" comment-number  ">{$ commentNum $}</span>
                    <span v-else class=" comment-number ">{$ commentNum $}</span>
                </div>
                <div v-else class="iconfont icon-pinglun">
                    <span class=" comment-number ">{$ commentNum $}</span>
                </div>


            </template>

        </div>

        <div class="overlay" id="overlay">
            <div class="comment-form">
                <form action=" ">
                    <textarea type="text " id="commentcontent" placeholder="写下你的评论吧~"></textarea>
                    <p><a class="button submitComment" id="submitComment">发表评论</a></p>
                </form>
            </div>

        </div>
        <div class="overlay share" id="overlay-share">
            <div class="social-share"></div>
        </div>
    </div>
</div>

<script type="text/javascript " src="/static/vue/vue.js "></script>
<script type='text/javascript' src='/static/js/jquery.js' charset='utf-8'></script>
<script type='text/javascript' src='/static/light7/js/light7.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/static/light7/js/light7-swiper.min.js' charset='utf-8'></script>
<script type="text/javascript" src="/static/share/js/jquery.share.min.js"></script>
<script type="text/javascript" src="/static/js/clipboard.min.js"></script>
<script type="text/javascript" src="/static/share/jquery.share.js"></script>
<script>
    $.init();

    let readList = window.localStorage.getItem('readList') || []
    readList += (' ' + (window.location.search.match(/\d+/)[0]))
    console.log(readList)
    window.localStorage.setItem('readList', readList)

    let $vm = new Vue({
        delimiters: ['{$', '$}'],
        el: '#article',
        data: {
            article: {},
            relativeArticles: [],
            comment: {},
            likestatus: true,
            commentNum: 0,
        },
        methods: {
            getTime: function (time) {
                let timeDisplay = new Date(time).Format("yyyy-MM-dd hh:mm");
                return timeDisplay;
            }
        }


    });
    let $vm_comment = new Vue({
        delimiters: ['{$', '$}'],
        el: '#commentinfo',
        data: {
            commentNum: 0,
        }
    })

    $.ajax({
        url: '/article/getarticlebyarticleid',
        data: {
            articleid: "{{articleid}} "
        },
        method: 'GET',
        success: function (data) {
            if (data.errno == 0) {
                data.data[0].updateTime = new Date(data.data[0].updateTime).Format("yyyy-MM-dd hh:mm");
                $vm.article = data.data[0];
                document.getElementById('article-content').innerHTML = escape2Html(data.data[0].content);
                $vm.article.title = escape2Html($vm.article.title);
                $('#article-content a').addClass('external').removeAttr('target');
                $('.article-content img').attr('style', '');
                let imgs = $('.article-content img');
                for (let i = 0; i < imgs.length; i++) {
                    if (imgs[i].getAttribute('data-src') != null) {
                        imgs[i].setAttribute('src', imgs[i].getAttribute('data-src'));
                    }
                    imgs[i].setAttribute('src', '/static/img' + imgs[i].getAttribute('src'));
                    imgs[i].setAttribute('style', '');
                }
            }
        }
    })
    $.ajax({
        url: '/article/getcommentbyarticleid',
        data: {
            articleid: "{{articleid}}"
        },
        method: 'GET',
        success: data => {
            if (data.errno == 0) {
                $vm.comment = data.data;
                $vm_comment.commentNum = data.data.commentLength;
                $vm.comment = data.data.commentContent;
            }

        }
    })
    $.ajax({
        url: '/article/getlikestatus',
        method: 'GET',
        data: {
            articleid: "{{articleid}}",
        },
        success: function (data) {
            $vm.likestatus = data.data;
        }

    })
    $.ajax({
        url: '/article/getrelativearticle',
        data: {
            articleid: "{{articleid}}"
        },
        method: 'GET',
        success: data => {
            if (data.errno == 0) {
                $vm.relativeArticles = data.data;
            }
        }
    })


    let $config = {
        sites: ['qzone', 'qq', 'weibo', 'wechat', 'douban'],
    }
    $('.social-share').share($config);
    $('.social-share a').addClass('external');
    $('.social-share a').removeAttr('target');
    function shareShow() {
        $('#overlay-share').css({
            display: 'block',
        })
        $('.article').css({
            'overflow-y': 'hidden',
        })
    }
    function shareHide() {
        $('#overlay-share').css({
            display: 'none',

        })
        $('.article').css({
            'overflow-y': 'auto',
        })
    }
    $('#sharebtn').on('click', function () {
        shareShow();
    })
    $('#overlay-share').on('click', function (e) {
        console.log(e.target.id);
        if (e.target.id === 'overlay-share') {
            shareHide();
        }
    })
    $('.icon-wechat').on('click', function (e) {
        $('.icon-wechat').attr('data-clipboard-text', window.location.href);
        let clipboard = new Clipboard('.icon-wechat');
        clipboard.on('success', function (e) {
            $.toast("链接已复制，请前往微信分享");
        });


    })


    $(document).on('click', '.relative-article', (e) => {
        let articleid = e.currentTarget.getAttribute('data-articleid');

        window.location.href = "/article/detail?articleid=" + articleid;
    });

    $(document).on('click', '.icon-pinglun', () => {
        window.location.href = " /comments?articleid=" + "{{articleid}}";
    })

    $(document).on('click', '.love-img', function () {
        if ($('#love-img').hasClass('checked')) {
            $('#love-img').removeClass('checked');
            $vm.article.likes -= 1;
        } else {
            $('#love-img').addClass('checked');
            $vm.article.likes += 1;
        }
        $.ajax({
            method: 'POST',
            data: {
                likes: $vm.article.likes,
                articleid: "{{articleid}}"
            },
            url: '/article/refreshlikes',
            success: function (data) {
            }
        })

    })


    function overlayShow() {
        $('#overlay').css({
            display: 'block',
        })
        $('.article').css({
            'overflow-y': 'hidden',
        })
    }

    function overlayHide() {
        $('#overlay').css({
            display: 'none',
        })
        $('.article').css({
            'overflow-y': 'auto',
        })
    }
    $(document).on('focus', '#comment-input', () => {
        overlayShow();
        $('#commentcontent').focus();
    })
    $(document).on('click', '.overlay', (event) => {
        if (event.target.id === 'overlay') {
            overlayHide();
        }
    });

    $(document).on('click', '#submitComment', () => {
        if ($('textarea')[0].value == "") {
            $.toast("评论不可为空!");
        } else {
            let formData = new FormData();
            formData.append('userid', '1');
            formData.append('articleid', '{{articleid}}');
            formData.append('timestamp', Date.now().toString());
            formData.append('content', $('textarea')[0].value);
            $.ajax({
                url: "/article/addcomment ",
                data: formData,
                method: "POST",
                contentType: false,
                processData: false,
                success: (data) => {
                    if (data.errno == 0) {
                        $.toast("评论发表成功!");
                        overlayHide();
                    } else if (data.errno === 1000) {
                        $.toast("请先登录!");
                    }
                    else {
                        $.toast("评论发表失败!");
                    }

                }
            })
        }
    })


    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }

    function escape2Html(str) {
        var arrEntities = {
            'lt': '<',
            'gt': '>',
            'nbsp': ' ',
            'amp': '&',
            'quot': '"'
        };
        return str.replace(/&(lt|gt|nbsp|amp|quot);/ig, function (all, t) {
            return arrEntities[t];
        });
    }
</script>
</body>

</html>