<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢乐冶</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/static/light7/css/light7.min.css">
    <link rel="stylesheet" href="/static/light7/css/light7-swiper.min.css">
    <link rel="stylesheet" href="/static/css/articleDetail.css">
    <link rel="stylesheet" href="/static/share/css/share.min.css">
    <link rel="stylesheet" href="/static/iconfont/iconfont.css">
</head>

<body>
<div class="page-group">
    <div class="page page-current">
        <header class="bar bar-nav">
            <a class=" iconfont icon-arrow-left back ">
            </a>
            <h1 class="title">设置密码</h1>
        </header>
        <div class="content center" id="rg">
            <div class="item-input">
                <input type="number" class="nickname" @input="getNickname" placeholder="用户名">
            </div>
            <div class="item-input">
                <input type="password" class="code" @input="getPassword" placeholder="密码">
                <button :class="'rt-code button button-small ' + codeButtonClass" :disabled="codeButtonIsDisabled" @click="retryAfter"></button>
            </div>
            <button :class="'button button-big ' + submitClass" :disabled="submitDisabled" @click="verifyCode">设置完成</button>
        </div>
    </div>
</div>

<script type="text/javascript " src="/static/vue/vue.js "></script>
<script type='text/javascript' src='/static/js/jquery.js' charset='utf-8'></script>
<script type='text/javascript' src='/static/light7/js/light7.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/static/light7/js/light7-swiper.min.js' charset='utf-8'></script>
<script type="text/javascript" src="/static/share/js/jquery.share.min.js"></script>
<script type="text/javascript" src="/static/js/clipboard.min.js"></script>
</body>
</html>